<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT umbracoSettings ANY>
<!ATTLIST umbracoSettings id ID #REQUIRED>
]>
<root id="-1">
  <home id="1081" key="f8a3b860-bb1b-49dd-8e61-88ba742e1414" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-06-21T10:36:55" updateDate="2018-06-21T23:12:49" nodeName="Home" urlName="home" path="-1,1081" isDoc="" nodeType="1079" creatorName="Dibs" writerName="Dibs" writerID="0" template="1077" nodeTypeAlias="home" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoSitemapHide>0</umbracoSitemapHide>
    <content><![CDATA[<p><span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span></p>]]></content>
    <title><![CDATA[Home]]></title>
    <homeFeatureContent><![CDATA[<p><span>Making sense of digital.</span></p>]]></homeFeatureContent>
    <homeFeatureImage><![CDATA[umb://media/08a4e67ac7fc4b8fbadf0955ad51d79a]]></homeFeatureImage>
    <homeFeatureTitle><![CDATA[Making sense of digital.]]></homeFeatureTitle>
    <page id="1082" key="f412eba6-a589-40e9-823e-46c79dc00b14" parentID="1081" level="2" creatorID="0" sortOrder="0" createDate="2018-06-21T10:44:26" updateDate="2018-06-21T10:44:26" nodeName="About" urlName="about" path="-1,1081,1082" isDoc="" nodeType="1080" creatorName="Dibs" writerName="Dibs" writerID="0" template="1078" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[About]]></title>
    </page>
    <page id="1083" key="4738f69d-94ab-43fd-9bd0-d447e9f161f3" parentID="1081" level="2" creatorID="0" sortOrder="1" createDate="2018-06-21T10:44:41" updateDate="2018-06-21T10:44:46" nodeName="Contact" urlName="contact" path="-1,1081,1083" isDoc="" nodeType="1080" creatorName="Dibs" writerName="Dibs" writerID="0" template="1078" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Contact Us]]></title>
    </page>
    <page id="1084" key="f3e81d28-47d4-40c3-9133-30d6815d76cc" parentID="1081" level="2" creatorID="0" sortOrder="2" createDate="2018-06-21T12:56:48" updateDate="2018-06-21T12:56:48" nodeName="Services" urlName="services" path="-1,1081,1084" isDoc="" nodeType="1080" creatorName="Dibs" writerName="Dibs" writerID="0" template="1078" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Services]]></title>
    </page>
    <page id="1085" key="481afddb-d75e-4a67-acb5-91bf037ea26d" parentID="1081" level="2" creatorID="0" sortOrder="3" createDate="2018-06-21T12:57:29" updateDate="2018-06-21T12:57:29" nodeName="Blog" urlName="blog" path="-1,1081,1085" isDoc="" nodeType="1080" creatorName="Dibs" writerName="Dibs" writerID="0" template="1078" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Blog]]></title>
    </page>
  </home>
</root>